html,
body {
    height: 100%;
    font-family: "Work Sans", Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    max-width: 1230px;
}

.wrap > .container {
    width: 100%;
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\1F851";
}

a.desc:after {
    content: "\1F853";
}

.sort-numerical a.asc:after {
    content: "\1F851";
}

.sort-numerical a.desc:after {
    content: "\1F853";
}

.sort-ordinal a.asc:after {
    content: "\1F851";
}

.sort-ordinal a.desc:after {
    content: "\1F853";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Texto nav orientaT */
.navbar-brand {
    margin-right: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 24px;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
}

/* fondo blanco navbar, ajuste resoluciones, etc */
.ftco-navbar-light {
    background: rgba(255, 255, 255) !important;
    z-index: 3;
    padding: 0; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light {
        background: #000000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px; } }
    .ftco-navbar-light .navbar-brand {
      color: #000000; }
      .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
        color: #000000; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-brand {
          color: #fff; } }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px; } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
      font-size: 15px;
      padding-top: 2.3rem;
      padding-bottom: 2.3rem;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 400;
      color: #000000;
      opacity: 1 !important; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #000000; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
          padding-left: 0;
          padding-right: 0;
          padding-top: .9rem;
          padding-bottom: .9rem;
          color: rgba(255, 255, 255, 0.7); }
          .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
            color: #fff; } }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
      border: none;
      background: #fff;
      -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        font-size: 14px; }
        .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
          background: transparent;
          color: #000000; }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
      position: relative;
      margin-left: 20px;
      padding-left: 20px; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
          padding-left: 0;
          margin-left: 0; } }
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
        position: absolute;
        content: "";
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 2px;
        background: rgba(255, 255, 255, 0.05); }
        @media (max-width: 991.98px) {
          .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
            display: none; } }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      color: #000000; }
      @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          padding-left: 15px;
          padding-right: 15px; } }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
          color: #fff;
          background: #1eaaf1; } }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: #1eaaf1; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.active > a {
          color: #fff; } }
    .ftco-navbar-light .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
      .ftco-navbar-light .navbar-toggler:focus {
        outline: none !important; }
    .ftco-navbar-light.scrolled {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: -130px;
      background: #fff !important;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
      .ftco-navbar-light.scrolled .nav-item.active > a {
        color: #1eaaf1 !important; }
      .ftco-navbar-light.scrolled .nav-item.cta > a {
        color: #fff !important;
        background: #1eaaf1;
        border: none !important; }
        .ftco-navbar-light.scrolled .nav-item.cta > a span {
          display: inline-block;
          color: #fff !important; }
      .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
        border-color: #1eaaf1; }
      @media (max-width: 991.98px) {
        .ftco-navbar-light.scrolled .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      @media (max-width: 767.98px) {
        .ftco-navbar-light.scrolled .navbar-nav {
          background: none;
          padding-left: 0 !important;
          padding-right: 0 !important; } }
      .ftco-navbar-light.scrolled .navbar-toggler {
        border: none;
        color: rgba(0, 0, 0, 0.5) !important;
        border-color: rgba(0, 0, 0, 0.5) !important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em; }
      .ftco-navbar-light.scrolled .nav-link {
        padding-top: 0.9rem !important;
        padding-bottom: 0.9rem !important;
        color: #000000 !important; }
        .ftco-navbar-light.scrolled .nav-link.active {
          color: #1eaaf1 !important; }
      .ftco-navbar-light.scrolled.awake {
        margin-top: 0px;
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .ftco-navbar-light.scrolled.sleep {
        -webkit-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        transition: .3s all ease-out; }
      .ftco-navbar-light.scrolled .navbar-brand {
        color: #000000; }

.ftco-navbar-light .navbar-brand {
    color: #000000;
}

/* Imagen con texto principal */
.owl-carousel.home-slider {
    position: relative;
    height: 600px;
    z-index: 0; 
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    background-color: transparent;
}

.glyphicon {
    font-family: "Font Awesome 5 Free";
}

.glyphicon-eye-open:before {
    content: "\f06e";
    color: var(--success);
}

.glyphicon-pencil:before {
    content: "\f044";
    color: var(--primary);
}

.glyphicon-trash:before {
    content: "\f2ed";
    color: var(--danger);
}